#* @vtlvariable name="error" type="java.lang.String" *#
#parse("mainLayout.vm")
#@mainLayout()
<style>
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        background-color: rgb(240, 240, 240);
    }

    #signInForm {
        width: 100%;
        max-width: 350px;
        padding: 15px;
        margin: auto;
    }

    #signInForm input {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
    }

    #signInForm input:focus {
        z-index: 2 !important;
    }

    .input-top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: -1px !important;
    }

    .input-middle {
        border-radius: 0;
        margin-bottom: -1px !important;
    }

    .input-bottom {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>
<body>
<form id="signInForm" action="/api/register" method="post">
    <h1 class="h3">Student System</h1>
    #if ($error)
        <div class="alert alert-danger" role="alert">
            $error
        </div>
    #end
    <label for="usernameField" class="sr-only">Username</label>
    <input type="text" id="usernameField" class="form-control mt-3 input-top" placeholder="Username" autocomplete="off"
           name="username"
           required autofocus>
    <label for="passwordField" class="sr-only">Password</label>
    <input type="password" id="passwordField" class="form-control mb-3 input-middle" placeholder="Password"
           name="password"
           autocomplete="off"
           required autofocus>
    <label for="firstNameField" class="sr-only">First name</label>
    <input type="text" id="firstNameField" class="form-control mb-3 input-middle" placeholder="First name"
           name="firstName"
           required autofocus>
    <label for="lastNameField" class="sr-only">First name</label>
    <input type="text" id="lastNameField" class="form-control mb-3 input-middle" placeholder="Last name"
           name="lastName"
           required autofocus>
    <div class="form-control mb-3 input-bottom">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" value="student" id="typeRadio1" required>
            <label class="form-check-label" for="typeRadio1">Student</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" value="teacher" id="typeRadio2" required>
            <label class="form-check-label" for="typeRadio2">Teacher</label>
        </div>
    </div>
    <button class="btn btn-primary btn-block mb-3" type="submit">Register</button>
    <a href="/login">Sign in</a>
</form>
</body>
#end