#* @vtlvariable name="courses" type="org.dnsge.studentsystem.sql.model.Course[]" *#

#parse("mainLayout.vm")
#@mainLayout()
<style>
    html, body {
        height: 100%;
    }

    #container {
        height: calc(100% - 56px);
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        background-color: rgb(240, 240, 240);
    }

    #content {
        width: 100%;
        max-width: 900px;
        padding: 15px;
        margin: auto;
    }

    .table td {
        vertical-align: middle;
    }

    .table th {
        vertical-align: middle;
    }
</style>
<script>
    function deleteCourse(button) {
        if (!confirm("Are you sure you want to delete this course?"))
            return;

        let tr = button.closest("tr");
        let courseId = tr.dataset.id;

        event.preventDefault();
        $.ajax("/api/courses/" + courseId, {
            method: "DELETE",
            success: function () {
                location.reload();
            },
            error: function (data) {
                alert("Error: Failed to delete course: " + data.responseText);
                console.error(data);
            }
        });
    }

    function createCourse() {
        event.preventDefault();
        let name = $("#nameInput");
        let room = $("#roomInput");

        if (!name[0].checkValidity()) {
            alert('Enter a valid course name');
            return;
        }

        if (!room[0].checkValidity()) {
            alert('Enter a valid course room');
            return;
        }

        $.ajax("/api/courses/", {
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                'name': name.val(),
                'room': room.val(),
            }),
            success: function () {
                location.reload();
            },
            error: function (data) {
                alert("Error: Failed to create course: " + data.responseText);
                console.error(data);
            }
        });
    }
</script>
<body>
#header()
<div id="container">
<div id="content">
    <h2>Your Courses</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Course</th>
            <th scope="col">Room</th>
            <th scope="col">Manage</th>
        </tr>
        </thead>
        <tbody>
            #foreach($course in $courses)
            <tr data-id="$course.getId()">
                <th scope="row">$course.getName()</th>
                <td>$course.getRoom()</td>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/courses/$course.getId()/assignments">Assignments</a>
                        <a href="/courses/$course.getId()/students">Students</a>
                        <a href="#" onclick="deleteCourse(this)" title="Delete">Delete</a>
                    </div>
                </td>
            </tr>
            #end
        <tr>
            <td>
                <input type="text" id="nameInput" placeholder="Course name" class="form-control" required>
                <label for="nameInput" class="sr-only">Course Name</label>
            </td>
            <td>
                <input type="text" id="roomInput" placeholder="Course room" class="form-control" required>
                <label for="roomInput" class="sr-only">Course Room</label>
            </td>
            <td>
                <button class="btn btn-success" onclick="createCourse()">Create</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
#end